div{
	font-size: 20px;
}
body{
	background-color: #FBE0BF;
}
h1{
	color: navy; 
}
img{
	height: auto;
	width: 60%;
	padding-left: 25px;
}
.indent{
	text-indent: 50px;
}
.p1{
	text-indent: 40px;
}
.profile{
	height: auto;
	width: 30%;
	padding-left: 25px;
}
.link{
	float: right;
}